root {
    --Paleblue: #c6538c;
    --Brightblue : hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
   
  }

  *
  {
    transition: all .5s ease-in-out;
  }
  body 
{
    background-color: hsl(225, 100%, 94%);
    background-size: cover;
      background-repeat: no-repeat;
      font-family: 'Red Hat Display', sans-serif;
      font-size: 16px;
      
}


  
  .container 
  {
      margin-top: 4%;
  }
  .row > div 
  {
      padding: 0 0 50px 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
  }
  .row > div h1 
  {
      margin-top: 40px;
      font-weight: 900;
      letter-spacing: -2px;
      word-spacing: 1px;
      margin-bottom: 30px;
      color: hsl(223, 47%, 23%);
  }
  .row  div p 
  {
      /* padding: 0px 201px; */
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    word-spacing: 4px;
    line-height: 25px;
    width: 50%;
    margin: 0 auto;
    

}
  .row > div  img , .row > div 
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.secpart
{
    background-color:#f8f9fe; 
      margin:20px auto;
      width: 60%;
      padding: 25px;
      border-radius: 20px;
      
     
}
.secpart img 
{
   
    margin-right: 25px;
    float: left;
    
}
.secpart h2 
{
text-align: left;
line-height: .5;
font-weight: 700;
font-size: 25px;
letter-spacing: -1px;
display: inline;
float: left;
}
.secpart span
{
    float: left;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}
.secpart  a
{
    color: hsl(245, 75%, 52%);
    font-weight: 900;
    float: right;
    text-decoration: underline;
    margin: auto 0px;
}
.row button
{
    display: block;
    color: hsl(225, 100%, 98%);
    background-color: hsl(245, 75%, 52%);
    width: 60%;
    margin:25px auto ;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.555) ;

  }
.row button + a 
{
    color:#878b97 ;
    font-weight: 900;
}

/* mobile screen */
@media (min-width:375px )
{    
  body {
  background-image:  url('../images/pattern-background-mobile.svg');
  }

  .row  div p 
  {
    width:90%;
 
  }
  .secpart
  {
    width: 90%;
  }
  .secpart + button 
  {
    width:90% ;
  }
  .container 
  {
    width: 90%;
  }
  .secpart  a
  {
    margin: -4% 0;
  }
}
/* desktop screen */
@media (min-width:1440px )
{
  body 
  {
    background-image:  url('../images/pattern-background-desktop.svg');
  }
}

/* active style */


.secpart  a:hover
{
    color:      #7469c5;
text-decoration: none;
}


.row button + a:hover
{
  text-decoration: none;
  color:hsl(223, 47%, 23%); 
} 

.row button:hover
{
  background-color:#766cf1;
}